[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyfiglet = "*"
click = "*"
touchstone = {editable = true,path = "."}
aio-pika = "*"

[requires]
python_version = "3.6"
