[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
touchstone = {editable = true,path = "."}
pyfiglet = "*"
click = "*"
pika = "*"

[requires]
python_version = "3.6"
