[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyfiglet = "~=0.8"
click = "~=7.0"
pika = "~=1.1"
pyyaml = "~=5.2"
pymongo = "~=3.10"
pymysql = "~=0.9.3"
minio = "~=5.0.7"
touchstone-testing = {editable = true,path = "."}

[requires]
python_version = "3.6"
